service: writingCheckAPI

frameworkVersion: ">=1.1.0 <2.0.0"

provider:
  name: aws
  runtime: nodejs8.10
  environment: 
    SLS_DEBUG: "*"
  
  iamRoleStatements:
    - Effect: Allow
      Action:
        - lambda:InvokeFunction
        - dynamodb:GetItem
      Resource: "*"

functions:
  writingCheckTextAPI:
    handler: handlertext.endpoint
    events:
      - http:
          path: checktext
          method: post
          cors: true

  writingCheckDBAPI:
    handler: handlerdb.endpoint
    events:
      - http:
          path: checkdb
          method: post
          cors: true

package:
    exclude:
        - node_modules/**
    include:
        - node_modules/rxjs/**
        
